.nothing {
    border: 1px, dotted, red;
}

body {
    background: linear-gradient(135deg, #fbfbfb 0%, #a4a9ac 50%, #545a5f 100%);
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Poppins, Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

.header {
    height: 10vh;
    min-height: 76px;
    min-width: 90vw;
    padding: 10px 24px 0px;
    margin: 10px 54px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mode {
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.search {
    background-color: #d9d9d9;
    box-shadow: 0px 0px 10px #c6c6c8;
    border: 1px, solid;
    border-radius: 22px;
    height: 4vh;
    width: 50vw;
    padding: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.iconH {
    color: #828282;
    margin-left: 12px;
    margin-right: 10px;
    display: flex;
    align-self: center;
}
.searchH {
    font-size: 14px;
    color: #292929;
}

.location {
    font-size: 17px;
    color: #dbf1d1;
    background-color: #4cbb17;
    box-shadow: 0px 0px 30px #757a7e;
    border-radius: 22px;
    height: 4vh;
    width: 18vw;
    padding: 8px 20px 8px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.iconH2 {
    color: #292929;
    display: flex;
    align-self: center;
}


.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.boxRow{
    width: 90vw;
    padding: 18px 0px 12px;
    margin: 0px 54px;
    gap: 48px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.boxA, .boxB, .boxC, .boxD  {
    background-color: #d9d9d9;
    box-shadow: 8px 8px 4px #313537;
    height: 34vh;
    width: 350px;
    border-radius: 20px;
}
.boxC, .boxD  {
    height: 38vh;
}

.boxA {
    box-shadow: 8px 8px 4px #535658;
    color: #292929;
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cityA {
    margin-top: 46px;
    font-size: 24px;
    font-weight: bold;
} 
.timeA {
    margin-top: 30px;
    font-size: 72px;
    font-weight: bold;
    line-height: 50px;
} 
.dateA {
    padding-top: 4px;
    font-size: 16px;
} 


.boxB {
    color: #292929;
    flex: 3;
    display: flex;
    flex-direction: row;
}
.column-B1, .column-B2, .column-B3 {
    border: 1px, dotted, red;
    flex: 1;
}
 
.column-B1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tempB1-1 {
    background: linear-gradient(to right, #3d3d3d, #a5a5a5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 32px;
    font-size: 60px;
    line-height: 50px;
    font-weight: bold;
}
.tempB1-2 {
    align-self: flex-start;
    margin-left: 26px;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.tempB1-21 {
    font-weight: bold;
    font-size: 14px;
    color: #4c4c4c;
}
.tempB1-22 {
    padding-left: 8px;
    font-size: 22px;
    font-weight: bold;
    color: #3d3d3d;
}

.suntime {
    margin-bottom: 12px;
    margin-left: 24px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    min-width: 120px;
}
.iconB1 {
    padding-left: 12px;
}
.sun-info {
    margin-left: 6px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
}
.info-1 { 
    font-size: 16px;
    font-weight: bold;
}
.info-2 { 
    padding-left: 2px;
    font-size: 12px;
}

.column-B2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
}
.weatherB2 {
    margin-bottom: 42px;
    margin-top: 36px;
    font-size: 20px;
    font-weight: bold;
}

.column-B3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.row1-B3, .row2-B3 {
    display: flex;
    flex-direction: row;
}
.humidityB3-1, .wspeedB3-1, .pressureB3-1, .uvB3-1 {
    padding-top: 12px;
    flex: 1;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.valueB3 {
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 6px;
}


.boxC {
    box-shadow: 8px 8px 4px #535658;
    flex:4;
    display: flex;
    flex-direction: column;
}
.titleC, .titleD {
    border: 1px, dotted, red;
    margin-top: 12px;
    font-size: 24px;
    font-weight: bold;
    align-self: center;
}
.dayC {
    border: 1px, dotted, red;
    flex: 1;
    padding: 0px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.iconC { 
    margin-left: 12px;
}
.tempC { 
    font-weight: bold;
    font-size: 18px;
    margin-left: 24px;
}
.dateC { 
    border: 1px, dotted, red;
    flex: 1;
    display: flex;
    justify-content: center;
    margin-left: 24px;
    font-size: 14px;
    font-weight: bold;
}

.boxD {
    flex: 9;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.hours {
    flex: 1;
    margin: 0px 54px;
    display: flex;
    gap: 14px;
}
.hourD {
    background: linear-gradient(to bottom, #f49b36, #e4d2b6);
    flex: 1;
    margin-bottom: 12px;
    background-color: beige;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.timeD {
    border: 1px, dotted, red;
    font-weight: bold;
    font-size: 18px;
}
.tempD {
    font-weight: bold;
}