body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

.header {
    height: 10vh;
    min-height: 76px;
    min-width: 90vw;
    padding: 10px 24px 0px;
    margin: 0px 54px;
    border-width: 1px;
    border-style: dashed;
    border-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mode {
    display: flex;
    flex-direction: column;
}

.search {
    border: 1px, solid;
    border-radius: 22px;
    height: 4vh;
    width: 50vw;
    padding: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon {
    margin-left: 10px;
}

.textHeader {
    border: 1px, dotted;

    margin-left: 10px;
}

.location {
    border: 1px, solid;
    border-radius: 22px;
    height: 4vh;
    width: 15vw;
    padding: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
}



.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    border: 1px, dotted, red;
}

.boxRow{
    border: 1px, dotted, red;

    width: 90vw;
    padding: 24px 0px 12px;
    margin: 0px 54px;
    gap: 48px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.boxA, .boxB, .boxC, .boxD  {
    height: 36vh;
    width: 350px;
    border: 3px, solid;
    border-radius: 20px;
}

.boxA {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.cityA {
    margin-top: 40px;
    font-size: 24px;
    font-weight: bold;
} 
.timeA {
    margin-top: 40px;
    font-size: 54px;
    font-weight: bold;
} 
.dateA {
    font-size: 18px;
} 


.boxB {
    flex: 5;
    display: flex;
    flex-direction: row;
}
.column-B1, .column-B2, .column-B3 {
    border: 1px, dotted, red;
    flex: 1;
}

.column-B1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.tempB1-1 {
    margin-top: 14px;
    font-size: 48px;
    font-weight: bold;
}
.tempB1-2 {
    font-size: 18px;
    margin-bottom: 16px;
}
.suntime {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 120px;
    align-items: center;
    border: 1px, dotted, red;
}
.sun-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-1 { font-weight: bold;}

.column-B2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
}
.weatherB2 {
    margin-bottom: 42px;
    margin-top: 36px;
    font-size: 20px;
    font-weight: bold;
}

.column-B3 {
    display: flex;
    flex-direction: column;
}
.row1-B3, .row2-B3 {
    border: 1px, dotted, red;
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: ;
}
.humidityB3-1, .wspeedB3-1, .pressureB3-1, .uvB3-1 {
    border: 1px, dotted, red;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin: 14px 0px;
}
.valueB3 {
    font-weight: bold;
    font-size: 18px;
}

.boxC {
    flex:4;
}
.boxD {
    flex: 9;
}